
 <div class="parallax-container">
    	<%= image_tag("home.jpg", :alt => "rss feed") %>
    <div class="parallax">
    </div>
  </div>
   <div class="section grey lighten-3">

 	<div class="row container">
    <p>Popular Items</p>
        <div class="col s6">
          <div class="card">
            <div class="card-image">
              <%= image_tag("parallax1.jpg", :alt => "rss feed") %>
              <span class="card-title">Food Title</span>
            </div>
            <div class="card-content">
              <p>Description of my food</p>
            </div>
            <div class="card-action">
              <a href="#">Add to Cart</a>
            </div>
          </div>
        </div>
         <div class="col s6">
          <div class="card">
            <div class="card-image">
              <%= image_tag("parallax1.jpg", :alt => "rss feed") %>
              <span class="card-title">Food Title</span>
            </div>
            <div class="card-content">
              <p>Description of food</p>
            </div>
            <div class="card-action">
              <a href="#">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>


    </div>



     <div class="parallax-container">
    	<%= image_tag("home2.jpg", :alt => "rss feed") %>
    <div class="parallax">
    </div>
  </div>
  