<p id="notice"><%= notice %></p>   
<%#= link_to 'New Menu', new_menu_path %>

 <div class="row">
   <div class="col center section s12">
    Our Menus
   </div>
 </div>

 <div class="row">

      <div class="col section s3">
     <!-- <p>Menus</p>? -->
      <div class="collection">
          <% @categories.each do |category| %>
       <%= link_to category.title, menus_path(:id => category.id), class:"collection-item" %>
       <!-- <span class="badge">1 item</span> -->
        <% end %>
        <!-- <a href="#!" class="collection-item"><span class="old badge">4 items</span>Sallad</a> -->
        <!-- <a href="#!" class="collection-item"><span class="badge">14 items</span>Biryani</a> -->
      </div>
        <!-- Grey navigation panel -->
      </div>

      <div class="col section s7">
      



      <ul class="collapsible" data-collapsible="">
        <% @menus.each do |menu| %>
           <%= render "product_row", menu: menu, order_item: @order_item %>
          <% end %>
        </ul>
        <!-- Teal page content  -->   
      </div>

      <div class="col section s2">
          <%= render :partial => 'cart' %>
       
      </div>

       </div>

    </div>

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @menus.each do |menu| %>
      <tr>
      <td><%#= menu.title %></td>
        <td><%#= link_to 'Show', menu %></td>
        <td><%#= link_to 'Edit', edit_menu_path(menu) %></td>
        <td><%#= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table> -->



