<footer class="page-footer color-two-background mg-tp-50">
  <div class="container">
    <div class="row">
      <div class="col s12 white-text center-align">
        <h5>Curry Masala</h5>
      </div>
    </div>

    <div class="row white-text center-align">
      <div class="col s6 push-s3">
        <%= link_to 'About Us', about_us_pages_path, class: "white-text" %>
        <span>|</span>
        <%= link_to 'Contact', contact_pages_path, class: "white-text" %>
      </div>
    </div>

    <div class="row center-align">
      <div class="col m6 s12">
        <p class="white-text">Remember us for authentic continental foods </p>
      </div>
      <div class="col m6 s12 white-text">
        <div class="col s4 m2 offset-m3">
          <i class="fa fa-facebook-official fa-3x facebook-color" aria-hidden="true"></i>
        </div>
        <div class="col s4 m2">
          <i class="fa fa-google fa-3x google-color " aria-hidden="true"></i>
        </div>
        <div class="col s4 m2">
          <i class="fa fa-twitter fa-3x twitter-color" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
    © <%=Date.today.year %>Copyright CM
    </div>
  </div>
</footer>