<footer class="page-footer color-two-background mg-tp-20">
  <div class="container">
    <div class="row mg-tp-20 center-align">
      <div class="col s12 white-text mg-bt-20">
        <h4>Subscribe to our newsletter</h4>
      </div>
      <div class="input-field col s4 offset-s3">
        <input type="email" class="newsletter-form" placeholder="Enter Your Email">
      </div>
      <div class="col s2">
        <a class="waves-effect waves-light btn-large color-three-background">Subscribe</a>
      </div>
    </div>

    <div class="row">
      <div class="col s12 white-text center-align">
        <h5>Curry Masala</h5>
      </div>
    </div>

    <div class="row white-text center-align">
      <div class="col s6 push-s3">
        <a class="grey-text text-lighten-3" href="#!">About Us</a>
        <span>|</span>
        <a class="grey-text text-lighten-3" href="#!">Contact Us</a>
        <span>|</span>
        <a class="grey-text text-lighten-3" href="#!">Team</a>
        <span>|</span>
        <a class="grey-text text-lighten-3" href="#!">Career</a>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <p class="grey-text text-lighten-4">Remember us for authentic continental foods </p>
      </div>
      <div class="col s6 white-text center-align">
        <div class="col s2 offset-s6">
          <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col s2">
          <i class="fa fa-google fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col s2">
          <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
    © <%=Date.today.year %>Copyright CM
    </div>
  </div>
</footer>