<footer class="page-footer yellow darken-3">
          <div class="container">
            <div class="row">
            <div class="col l4 s6">
                <h5 class="white-text">CM</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Team</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Career</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                </ul>
              </div>
              <div class="col l4 s6">
                <h5 class="white-text">Curry Masala</h5>
                <p class="grey-text text-lighten-4">Remember us for authentic continental foods </p>
              </div>
              <div class="col l4  s6">
                <h5 class="white-text">Social Media</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © <%=Date.today.year %>Copyright CM
            <!-- <a class=  "grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
          </div>
        </footer>