<nav class="color-one-background">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <%= image_tag("logo.jpg", :alt => "Restaurant Logo", height: 64) %>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">Menu</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
