<nav class="#37474f blue-grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        Curry Masala
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">Menu</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
