$primary-color-one: #373743;
$primary-color-two: #d9cc33;
$primary-color-three: #db5a00;


.color-one-background {
	background-color: $primary-color-one;
}

.color-two-background {
	background-color: $primary-color-two !important;
}

.color-three-text {
	color: $primary-color-three !important;
}

.color-three-background {
	background-color: $primary-color-three !important;
}

.facebook-color {
	color: #3b5998 !important;
}

.twitter-color {
	color: #1da1f2 !important;
}

.google-color {
	color: #ea4335 !important;
}
