.normal-form {
	border: 2px white solid !important;
	background-color: white !important;
	padding: 3px 25px !important;
	border-radius: 2px !important;
	width: auto !important;
}

.normal-form:focus:not([readonly]) {
	border-bottom: 2px white solid !important;
	box-shadow: none !important;
}
