.mg-tp-20 {
	margin-top: 20px;
}

.mg-tp-50 {
	margin-top: 50px;
}

.mg-tp-70 {
	margin-top: 70px;
}

.mg-tp-150 {
	margin-top: 150px;
}

.mg-tp-250 {
	margin-top: 250px;
}

.mg-bt-20 {
	margin-bottom: 20px;
}

.mg-bt-50 {
	margin-bottom: 50px;
}

.mg-tp-ng-15 {
	margin-top: -15px !important;
}