.no-padding {
	padding: 0;
}

.padding-bottom-075rem {
	padding-bottom: 0.75rem !important;
}

.pd-tp-05rem {
	padding-top: 0.5rem !important;
}

.pd-le-10 {
	padding-left: 10px;
}

.pd-ri-10 {
	padding-right: 10px;
}

.pd-tp-50 {
	padding-top: 50px; 
}

.pd-tp-70 {
	padding-top: 70px; 
}

.pd-bt-70 {
	padding-bottom: 70px;
}