.no-margin {
	margin: 0;
}

.no-mg-rt {
	margin-right: 0;
}

.mg-tp-20 {
	margin-top: 20px;
}

.mg-tp-50 {
	margin-top: 50px;
}

.mg-tp-200 {
	margin-top: 200px;
}

.mg-tp-250 {
	margin-top: 250px;
}

.mg-tp-05rem {
	margin-top: 0.5rem;
}

.mg-bt-075rem {
	margin-bottom: 0.75rem;
}

.mg-bt-1rem {
	margin-bottom: 1rem;
}