#googlemaps { 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  z-index: 0;
}

#contactform { 
  position: relative; 
  z-index: 1;
  height: auto;
}

.contact-detail {
  opacity: 0.6;
  background-color: #000;
  color: white;
}